<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i", rel="stylesheet")
        link(href="sass/styles.sass" rel="stylesheet") 
    body
        #app {{ message }}

        #app2
            span(v-bind:title="message") Testing

        #app3
            span(v-if="seen") Now you see me

        #app-5
            p {{ message }}
            button(v-on:click="reverseMessage") Reverse Message

        #app-7
            ol
                todo-item(v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id")

        script(src="js/entry.js")
